<div>
    <div> Hi, <%=name%> </div>
    <br>
    <br>
    <div style="font-size: 16px; font-weight: 600;"> <%= fileName %> File uplaoded Details</div>
    <hr>
    <br>
    <div>File Name: <%= fileName %></div>
    <div>Total Records: <%= totalRecord %></div>
    <div>Success: <%= success %></div>
    <div>Ignore: <%= ignore %></div>
    <div>Failed: <%= failed %></div>
    <br>
    <div>Please check below attachment with success, ignore and failed data.</div>
    <hr>
</div>