<div>
    <div> “ Dear User, </div>
    <br>
    <br>
    <br>
    <div>
        <span>Your file upload has been successful and below is the summary for the file <%= fileName %>, uploaded on  <%= date %>.
        </span>
    </div>
    <br>
    <br>
    <div style="font-size: 16px; font-weight: 600;">Upload Details</div>
    <hr>
    <br>
    <br>
    <br>
    <div>1-Records count in file- <%= recordRead %></div>    
    <div>2- Successful records- <%= recordWrite %></div>
    <div>3- Failed records- <%= recordReject %></div>
    <br>
    <br>
    <br>
    <div>Attachment of error summary along with reason.</div>
    <br>
    <a href=<%= actionUrl %>>Click
        here to download error report."</a>
    <hr>
    </div>