<div>
    <div> Hi, </div>
    <br>
    <div>
        <span><%=wfName%> request of <%= ownerName %> has been approved by <%= approverName %>.
        </span>
    </div>
    <br>
    <br>
    <div style="font-size: 16px; font-weight: 600;"><%=wfName%> Details</div>
    <hr>
    <br>
    <div>Date: <%= wfCreatedDate %></div>
    <div>Status: <%= status %></div>
    <div>Approved By: <%= approverName %></div>
    <div>Note: <%= remark %></div>
    <br>
    <hr>
</div>